.dart_tool/
.idea/
.metadata
build/
coverage/
.flutter-plugins-dependencies
*.iml

# Android signing
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
android/key.properties
*.jks
